*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
button{
    width: 180px;
    height: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    transition: 0.35s ease-in-out;
}
.inc-btn{
    background-color: green;
}
.inc-btn:hover{
    background-color: rgb(1, 90, 1);
    transform: scale(1.04);
}
.dec-btn{
    background-color: yellow;
}
.dec-btn:hover{
    background-color: rgb(228, 228, 3);
    transform: scale(1.04);
}
.res-btn{
    background-color: red;
}
.res-btn:hover{
    background-color: rgb(202, 4, 4);
    transform: scale(1.04);
}
.count-no{
    font-size: 100px;
    font-weight: 900;
}